<<<<<<< HEAD
.nav-link {
    color: #f8f9fa;
}

.navbar-brand {
    width: 5px;
=======
.nav-link {
    color: #f8f9fa;
}

.navbar-brand {
    width: 5px;
>>>>>>> f6147817db8da2f863618685ca5959e99c21c5c8
}